In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings("ignore")

In [33]:
df_train = pd.read_csv('Invertebrate TrainData - dataset.csv')
df_test = pd.read_csv('InvertebrateTest Data - new_test_data.csv')

In [22]:
df_train.head()

    SWI   SWF  temperature  size  management  duration
0  0.59  1.30          3.5   0.5           2        20
1  1.21  1.85          4.6  47.2           3        19
2  1.08  0.97          4.8  53.3           4        22
3  1.60  1.67          5.2  27.2           8        20
4  2.95  2.41          5.7  38.8           6        22

In [35]:
df_test.head()

    SWF  temperature  size  management  duration
0  0.86         21.6  21.6           5        32
1  1.30         21.6  23.7           4        35
2  1.79         21.7  32.9           3        39
3  1.92         21.8  47.5           7        34
4  0.90         21.8  42.8           6        35

In [36]:
X_train = df_train.drop('SWI',axis=1)
y_train = df_train.iloc[:,0]

In [38]:
X_test = df_test

In [24]:
min_max = MinMaxScaler()
min_max.fit(X_train)
print(min_max.data_max_)
X_train= min_max.transform(X_train)

[ 2.84 21.6  94.2   8.   41.  ]

In [30]:
model = LinearRegression()

In [31]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
model.predict(X_test)

array([26.17320757, 27.2777873 , 28.33123475, 28.42958458, 26.19215723,
       29.79681251, 26.60821903, 28.35974299, 27.57094344, 25.94973711,
       28.72030054, 25.75515411, 28.41266466, 31.54380366, 25.01064813,
       26.51021059, 30.31847802, 24.46111136, 28.84485477, 26.24575043,
       31.40953457, 24.51539737, 27.88686634, 29.67318505, 31.77994502,
       29.18080682, 26.96522969, 29.82644077, 30.77108398, 26.68024873,
       29.68400521, 26.12362805, 30.61511215, 30.35667841, 27.34953472,
       32.1800459 , 32.5514227 , 28.09094114, 28.37547271, 27.41783237,
       25.38107143, 29.01160465, 33.87291343, 32.55645213, 26.84513527,
       31.91669181, 28.47709465, 26.45649225, 28.03777663, 30.01947013,
       25.28495694, 29.97117165, 33.03874973, 27.41916238, 29.00749668,
       31.01646947, 28.3410279 , 26.41305048, 25.12716865, 29.85850985,
       29.74252938, 31.9376789 , 28.19160386, 32.19142545, 28.64138918,
       30.5069401 , 31.31487307, 28.44447143, 27.33834912, 34.78480779,
       32.9689813 , 27.37677014, 31.60325374, 31.52521454, 33.5445001 ,
       26.84745453, 26.97464337, 31.91821405, 27.50211492, 26.94592271,
       32.702219  , 30.19668811, 31.63717606, 32.55125524, 32.72604098,
       32.80182495, 33.0714534 , 31.65745965, 31.0370602 , 33.44488301,
       27.80198765, 31.13747298, 29.17860652, 34.26894803, 30.40144823,
       33.48466366, 29.02875226, 26.18585823, 30.76450957, 30.43687795,
       29.4716695 , 27.94408109, 29.37229142, 32.47822227, 32.94197433,
       31.27994489, 30.16936993, 29.62847341, 29.22265511, 31.13133341,
       31.85610772, 34.97666979, 29.15406993, 29.76057733, 30.37100286,
       31.12400684, 32.55325744, 30.44534187, 31.87368211, 31.63517176])